<div id="header">
  <div class="top_info">
    <div class="logo">
      <a href="#">Auto<span>Dealer</span></a>
    </div>
  </div>
  <div class="bg_navigation">
    <div class="navigation_wrapper">
      <div id="navigation">
        <span>Home</span>
        <ul>
          <li class="current"><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">For Salers</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div id="footer">
   <div class="bg_top_footer">
    <div class="top_footer">
      <div class="f_widget first">
        <h3><strong>About</strong> us</h3>
     
      </div> 
    </div>
  </div>
  <div class="copyright_wrapper">
    <div class="copyright">&copy; 2013 Auto Sale. All Rights Reserved.</div>
  </div> 
</div>