<div class="catalog_content">

        <div class="container" *ngFor="let item of catalogs; let i = index">
                <div class="item item-1">
                        <a href="#">{{item.title}}</a>
                        <img src="" alt="" />
                        <div class="description">{{item.description}}</div>
                </div>
            </div>

        <!-- <mat-grid-list cols="2" rowHeight="2:1">
                <a href="#"></a>
                        <img src="" alt="" />
    
                        <div class="description">{{item.description}}</div>
                    
        </mat-grid-list> -->
              

        <!-- <ul class="catalog_list" *ngFor="let item of catalogs; let i = index">
            <li>
                <a href="#">
                    <img src="" alt="" />

                    <div class="description">{{item.description}}</div>
                </a>
            </li>
        </ul>-->
</div> 