.main_wrapper{
	position:relative;
}

.cars_categories,
.steps{
	position: absolute;
	top:3px;
	right: 0;
}

.catalog_sidebar{
	width: 220px;
	padding: 0 40px 0 0;
	float: left;
}

.main_catalog{
	float: left;
	width: 680px;
    padding: 15px 0 0 0;
    height: 25px;
    background: #33AA;
}

.catalog_list{

}

.catalog_list_item{
	background: #ecf0f1;
}


/* .catalog_content{
	background: #95a5a6 ;
} */